.student-card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: 250px;
    position: relative;
}

.student-name{
    font-size: 20px;
    font-weight: bold;
    margin:0;
    margin-bottom: 5px;
}


.student-info{
    font-size: 20px;
    font-weight: bold;
    margin:0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

}

.student-info-icon{
    height : 30px;
}

.student-gender-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 5px;
    right: 5px;
}