.app-name{
    text-align: center;
    font-size: 36px;
    margin : 0;
    padding: 20px;
    font-weight: bold;
}

.app-description{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #555;
}

.student-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

